extends layout.pug
include utils.pug

append head
		link(rel="stylesheet" href="/stylesheets/lists.css")
		link(rel="stylesheet" href="/stylesheets/movies.css")
		link(rel="stylesheet" href="/stylesheets/components/buttons.css")
		link(rel="stylesheet" href="/stylesheets/components/dropdown.css")
		script(src="/javascripts/movies-display.js" type="module" defer)

block content
		div(class='mainContent')
				div(class='movie-nav-container')
					if pageCount !== 1
						+pages(pageCount, currentPage, titleSearch, sortColumn, sortOrder)
					div(class='search-container')
						input(type='text' placeholder='Search ...' class='search-bar')
						button(class='buttonPrimary search-button') Search
					div
				.moviesTableContainer
						table(class='moviesTable')
							thead
									tr
											th(class='posterCell') Poster
											th(class='titleCell')
												span
													a(href=`/movies?${titleSearch ? `title=${titleSearch}&` : ''}column=title&order=${sortColumn === 'title' ? sortOrder === 'ASC' ? 'DESC' : 'ASC' : 'DESC'}`) Title
												+sortHeaders(sortColumn, sortOrder, 'title', titleSearch)
											th
												span
													a(href=`/movies?${titleSearch ? `title=${titleSearch}&` : ''}column=runTime&order=${sortColumn === 'runTime' ? sortOrder === 'ASC' ? 'DESC' : 'ASC' : 'DESC'}`) Runtime
												+sortHeaders(sortColumn, sortOrder, 'runTime', titleSearch)
											th
												span
													a(href=`/movies?${titleSearch ? `title=${titleSearch}&` : ''}column=releaseDate&order=${sortColumn === 'releaseDate' ? sortOrder === 'ASC' ? 'DESC' : 'ASC' : 'DESC'}`) Release Date
												+sortHeaders(sortColumn, sortOrder, 'releaseDate', titleSearch)
											th
												span
													a(href=`/movies?${titleSearch ? `title=${titleSearch}&` : ''}column=imdbRating&order=${sortColumn === 'imdbRating' ? sortOrder === 'ASC' ? 'DESC' : 'ASC' : 'DESC'}`) IMDB Rating
												+sortHeaders(sortColumn, sortOrder, 'imdbRating', titleSearch)
											//- th Actions
							tbody
									+movieTable(movies)
				+pages(pageCount, currentPage)
